# Python
__pycache__/
*.py[cod]
*.so
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# LaTeX
*.aux
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm

# MATLAB
*.mat

# Logs
*.log
